<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seminarios</title>
</head>
<body>
    <h1>Lista de inscritos</h1>
    <a href="{{ url_for('nuevo') }}">Nuevo</a>     
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Turno</th>
                <th>Seminarios</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in seminarios %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.fecha }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.apellido }}</td>
                <td>{{ item.turno }}</td>
                <td>{{ item.seminarios | join(', ')}}</td>
                <td><a href="{{ url_for('editar', id = item.id) }}">Editar</a></td>
                <td>
                    <form action="{{ url_for('eliminar', id = item.id) }}" method="POST">
                        <input type="submit" value="Eliminar">
                    </form>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>